ul li {

display: inline;

}

.aside{
	
	width: 280px;
    height: 250px;
	padding: 15px;
	
 
}

.bild {
	
	width:250px;
	height: 200px;
	border:1px solid #85634D;
}

.pt{
	
float:right;
margin: 10px;
width: 250;	
border:1px solid #85634D;

}

nav ul li a{
	
	color: white;
}

nav{
	
	background-color: #85634D
}

.bokapt{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	
}

.recept{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	
}

.ovningar{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	
}

.balans{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
}

.mamma{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;

}

.rehab{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	border:1px solid #85634D;
}


body{
	
	background-image: url("../pages/bakgrund.jpg");
	background-attachment: fixed;
	
}

p{
	
	color:grey;
}

#wrapper{
	
	background-color:F1F2E1;
	opacity: 1.0;
	
	
}

footer{
	
	
}

input{
	float:right;
	margin-top:180px;
}

.korg{
	
	float:right;
}
