ul li {

display: inline;

}

.aside{
	
	width: 280px;
    height: 250px;
	padding: 15px;
	
 
}



.pt{
	
float:right;
margin: 10px;
width: 250;	
border:1px solid #85634D;
margin: 20px;
}

nav ul li a{
	
	color: white;
}

nav{
	
	background-color: #85634D
}

.bokapt{
	
	position: relative;
	top: -110px;
	text-align: left;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	margin-left: 80px;
	margin-right: 50px;
	
}

.recept{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	margin-left: 80px;
	margin-right: 50px;

	
}
	
	.bild{
	width:300px;
	height: 300px;
	border:1px solid #85634D;
	margin: 70px;
	}


.ovningar{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	margin-left: 80px;
	margin-right: 50px;
}

.balans{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
		margin-left: 50px;
	margin-right: 50px;
}

.mamma{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.rehab{
	
	position: relative;
	top: -110px;
	text-align: center;
	font-size: large;
	color:white;
	background-color:#85634D;
	padding-right: 10px;
	border:1px solid #85634D;
		margin-left: 50px;
	margin-right: 50px;
}


body{
	
	background-image: url("../pages/bakgrund.jpg");
	background-attachment: fixed;
	margin-left:30px;
}

p{
	
	color:grey;
	
	
}

#wrapper{
	
	background-color:F1F2E1;
	opacity: 0.9;
	margin: 10px auto;
	
}

footer{
border-right: 50px;
	
}



.korg{
	
	float:right;
}

.karta{
	
	margin-left:10px;
}

.nyhetsbrev
{
	margin-top: 10px;
	float: left;
	
}

input[type="submit"] {
	
	margin-top: 10px;
	float:none;
}


h2:hover {
	background-color:#85634D;
	}	
	
	h3:hover {
	background-color:#85634D;
	}	
	
h2, h3 {
	
background-color: #eeeeee;
color: #666666;
text-shadow: 1px 1px 0px #000000;
margin-left: 50px;
}

fieldset{
	
	text-transform: uppercase;
	border-bottom: solid lightgrey;
	margin-left: 10px;
	display: block;
}

.btn-link{
	
	background-color:grey;
	color: black;
}

p{
	color:black;
	margin-left: 50px;
}

.produkt{
	height: 300px;
	width:300px;
	
}
	
	
	.footer{
		
		border-right: 1px solid black;
		
	}
	
	.streck {
		
		border-left: 1px solid black
	}
	
	a {
		text-decoration:none;
		font-size:1.9rem;
		margin-right: 20px;
		}
	
	figure{
		
		width:200px

	}
	
	small{
		
		margin-left: 10px;
	}
	
	.sok{
		
		float:right;
	}
	
	h1{
		
	
		margin: 20px;
	}
	
	label{
		
		display: block;
	}
	
	
	#addProduct{
	background-color:#85634D;
	color: white;
	border: 2px solid #85634D;
	padding: 10px;
	text-decoration: none;
}
#addProduct:hoover{
	background-color:grey;
}
